@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';


*{
  margin:100;
  padding:0;
  text-decoration: none;
 
}
.container{
  display:flex;
  
}
main{
  width: 100%;
  padding: 20px;
  background:linear-gradient( -45deg,#191d23, #29383e );
  color:white;
  animation: animate  12s  ease-in-out infinite;
}
.sidebar{
  background:linear-gradient( -45deg,#191d23, #29383e);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px ;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  line-height: 70px;

}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
  margin-top: 10px;
}
.logo{
  font-size: 15px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:#989daa;
  color: #000;
  transition: all 0.5s;
}
.active{
  background:#dedcdc;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 5%;

}
.row button{
  font-size: 30px;
  background: #989daa;
  align-items: center;
  padding: 0.75em 3em;
  border: 0.1em solid  #c5bac5;
  border-radius: 100vw;
  cursor: pointer;
  transition: background-color 25ms;

}

.button:hover,
.button:focus-visible{
  background: #989daa;
}
.row .column1{
    padding-right: 50px;
}
.column1 h1{
  font-size: 40px;
  margin-bottom: 10px;
}
.column1 p{
  font-size: 25px;
  margin-bottom: 50x;
}
.column1{
 width: 150px;
 padding: 12px 20px;
 border-radius: 20px;
 border-style: none;

}
.row .column1 {
  width: 60%;
  padding-right: 50px;
  position: relative;
}

.column1 img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  border-radius: 20px;
  z-index: -1;
}

.column1 button {
  font-size: 30px;
  padding: 15px;
  width: 100%;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #c5bac4;
  background: transparent;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

@media screen /* and (max-width:980px)*/{
  .column2 img {
    width: 500px; /* Adjust the size as needed */
    height: 500px;
    border: 1px solid #fff; /* Add a white border to simulate wireframe */
  }
  .column1 h1{
    font-size: 40px;
  }
  .column1 p{
    font-size: 17px;
  }
}
@keyframes animate {
  0%{
    background-position: 0% 50%;

  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
  
}


section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: #dedcdc;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: #c5bac4;
}

input[type='text'],
input[type='password'],input[type='email'],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  border-radius: 1rem;
  margin: auto;
  background-color: transparent;
  border: 2px solid #c5bac4;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

label,
button {
  margin: auto;
  margin-top: 3px;
  color:#dedcdc;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;

}
button {
 
    width: 200px;
    padding: 15px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #c5bac4;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
}
button:hover {
background-color: #29383e;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #989daa;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
  margin: auto;
}

.instructions>svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
.title {
  text-align: center;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}
.reg{
  margin: auto;
  font-size: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.social-media a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 10px;
}
.social-media p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
.social-media a svg {
  margin-right: 5px;
}