form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  .Editprofile button {
 
    width: 150px;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #c5bac4;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
}
  .Editprofile h1{
text-align: center;
font-size: 40px;
font-family: 'Courier New', Courier, monospace;
  }
 